<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="C" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %-5p [%c] - %m%n</pattern>
        </encoder>
    </appender>

    <root level="${ROOT_LEVEL:-INFO}">
        <appender-ref ref="C"/>
    </root>
</configuration>
